[Unit]
Description=Run capture image
Wants=capture-image.timer

[Service]
ExecStart=/bin/date >> /usr/src/app/sam

[Install]
WantedBy=capture-image.target
